extends layouts/default
include helpers/mixins

block variables
  - const title = "Index"

block content
  div.flex.justify-center.items-center.flex-col(class='min-h-screen w-full dark:bg-black dark:text-white')
    h1.font-semibold.text-4xl Toggle Dark/Light
    button.js-toggle-dark-mode.bg-indigo-600.text-lg.uppercase.px-4.py-2.text-white.mt-4 Toggle Dark Mode
    button.button.is-primary Button
block scripts
  script(src="js/vendor.js")
  script(src="js/main.js")
